<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A vue.js cdn simple diary app, Sign in and start writing your diary">
    <meta name="keywords" content="Vuejs Framework, CSS, JavaScript, HTML5, UIkit, Bootstrap4">
    <meta name="author" content="Madridano, Kolya Nikolai M.">
    <title>Diary - Sign in</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 150px;">
                <div class="col-md-3">
                    <h2 class="text-secondary font-weight-light"><strong>Diary</strong>.me</h2>
                    <form @submit.prevent="handleLogin" class="mt-4">
                        <div class="uk-inline">
                            <span 
                                class="uk-form-icon" 
                                v-bind:class="{ 'text-danger': loginPayload.hasError}" 
                                uk-icon="icon: user"></span>
                            <input 
                                class="uk-input uk-form-width-large" 
                                v-bind:class="{ 'uk-form-danger': loginPayload.hasError}"
                                id="username"
                                type="text" 
                                placeholder="Username or Email" 
                                v-model="loginPayload.username" required>
                        </div>
                        <div class="uk-inline mt-2">
                            <span 
                                class="uk-form-icon" 
                                v-bind:class="{ 'text-danger': loginPayload.hasError}" 
                                uk-icon="icon: lock"></span>
                            <input 
                                class="uk-input uk-form-width-large" 
                                v-bind:class="{ 'uk-form-danger': loginPayload.hasError}"
                                type="password"  
                                placeholder="Password" 
                                v-model="loginPayload.password" required>
                        </div>
                        <button type="submit" class="uk-button uk-button-primary mt-3 uk-width-1-1 uk-margin-small-bottom">
                                <span>Sign in</span>
                                <i class="fas fa-spinner fa-spin ml-1" v-if="isLoggingIn"></i>
                        </button>
                        <div class="text-secondary">
                            <input class="uk-checkbox" type="checkbox" checked>&nbsp;Remember login
                        </div>
                        <button type="button" class="uk-button uk-button-default mt-3 uk-width-1-1  text-secondary" @click="redirectToRegistration">
                            Create new account
                         </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                baseURL: 'https://www.diaryapi.somee.com/',
                loginPayload: {
                    hasError: false,
                    username: null,
                    Password: null,
                    message: null
                },
                localStorage: null,
                isLoggingIn: false
            },
            methods: {
                handleLogin: function() {
                    this.isLoggingIn = true;
                    axios.post(this.baseURL + `TOKEN?username=${this.loginPayload.username}&password=${this.loginPayload.password}`, {
                        timeout: 3000
                    })
                    .then(res => {
                            this.localStorage = res.data;
                            localStorage.setItem("diaryLocalStorage", JSON.stringify(this.localStorage));
                                axios.get(this.baseURL + `api/profile/findBySpecialId/${this.localStorage?.userId}`)
                                    .then(res => {
                                        this.isLoggingIn = false;
                                        let profile = res.data;
                                        if(profile.length > 0) return location.href="src/page_profile.html";
                                            else return location.href="src/page_create_profile.html";
                                    })
                                    .catch(err => console.log(err.response));
                        })
                        .catch(err => {
                            this.loginPayload = {
                                ...null,
                                hasError: true,
                                message: err.response?.status === 400 ? "Username and/or password is incorrect" : err.response?.data.message 
                            }
                            document.getElementById("username").focus();
                            this.isLoggingIn = false;
                        });
                },
                redirectToRegistration: function() {
                    return location.href="src/page_registration.html";
                }
            },
            mounted: function() {
         
            }
        })
    </script>
</body>
</html>