<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A vue.js cdn simple diary app, Sign in and start writing your diary">
        <meta name="keywords" content="Vuejs Framework, CSS, JavaScript, HTML5, UIkit, Bootstrap4">
        <meta name="author" content="Madridano, Kolya Nikolai M.">
        <title>Profile</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
<body>
    <div id="app"> 
        <div class="container"  v-if="!loading">
            <div class="row justify-content-center mt-5">
                <div class="col-md-7">
                    <section>
                        <section class="d-flex justify-content-end">
                            <span 
                                uk-icon="icon: arrow-right; ratio:2" 
                                class="pointer" 
                                uk-toggle="target: #offcanvas-push"></span>
                        </section>
                        <section>
                            <h2 class="font-weight-light p-0 m-0 text-dark">{{user?.lastName}}, {{user?.firstName}}</h2>
                            <div class="text-secondary mt-2">{{user?.shortDescription}} </div>
                            <div class="mt-2">
                                <div>
                                    <i class="fas fa-location-arrow mr-1  text-secondary"></i>
                                    <span class="text-secondary">{{user?.address?.country}}, {{user?.address?.city}}</span>
                                </div>
                                <div>
                                    <i class="fas fa-graduation-cap mr-1  text-secondary"></i>
                                    <span class="text-secondary">{{user?.course}}</span>
                                </div>
                                <div>
                                    <i class="fas fa-birthday-cake mr-1  text-secondary"></i>
                                    <span class="text-secondary">{{user?.birthDate}}</span>
                                </div>
                            </div>
                        </section>
                    </section>
                    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true;flip: true" >
                        <div class="uk-offcanvas-bar bg-secondary">
                            <button class="uk-offcanvas-close" type="button" uk-close></button>
                            <div style="margin-top: 150px;"></div>
                            <h5 class="text-white font-weight-light pointer" @click="redirectToCreateDiary">
                                <div class="d-flex justify-content-start">
                                    <span>Write new diary&nbsp;</span>
                                    <span uk-icon="icon:file-edit; ratio: 0.9" class="mt-1"></span>
                                </div>
                            </h5>
                            <h5 class="text-white font-weight-light pointer" @click="redirectToFeed">
                                <div class="d-flex justify-content-start">
                                    <span>Feed&nbsp;</span>
                                    <span uk-icon="icon:rss; ratio: 0.9" class="mt-1"></span>
                                </div>
                            </h5>
                            <h3 class="font-weight-light mt-5 mb-2 blockquote">"{{quoteOfTheDay}}"</h3>
                            <h5 class="text-white font-weight-light mt-5">
                                <div class="d-flex justify-content-start pointer" @click="handler('LOGOUT', null)">
                                    <span>Sign-out&nbsp;</span>
                                    <span uk-icon="icon: sign-out; ratio: 0.9" class="mt-1"></span>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <iframe 
                        style="margin-top: 50px"
                        id="profileVideo" 
                        width="100%" 
                        height="345" 
                        src="" 
                        frameborder="0" 
                        scrolling="no" 
                        uk-responsive uk-video="automute: true"></iframe>

                    <div v-if="diaries.length > 0">
                        <div v-for="(data, index) in diaries" class="mt-5 p-5">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="p-0 m-0">
                                    <div class="d-flex align-items-center">
                                        <span uk-icon="icon: hashtag"></span> 
                                        <span><b>{{data.category}}</b></span>
                                    </div>
                                </h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-secondary mr-2"> 
                                        <div class="d-flex align-items-center">
                                            <span uk-icon="icon: calendar"></span> 
                                            <span>&nbsp;{{data.datePosted}}</span>
                                        </div>
                                    </span>
                                    <span uk-icon="icon: trash; ratio: 1" class="text-danger pointer" @click="handler('DELETE', { id: data.id})"></span>
                                </div>
                            </div>
                            <p class="text-secondary mt-2">{{data.content}}</p>
                        </div>
                    </div>
                    <div v-else>
                        <h4 class="text-center mt-5 blockquote"><em>Oops! It sounds like you don't have any posts, <br>Do you wish to 
                            <b @click="redirectToCreateDiary" class="pointer">write</b> your first diary?</em>
                        </h4>
                    </div>
                    <div style="margin-top: 100px"></div>
                    <p class="text-center">&copy; KOLYA MADRIDANO</p>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            local: null,
            data: {
                baseUrl: 'https://www.diaryapi.somee.com/',
                user: {},
                diaries: [],
                quoteOfTheDay: null,
                loading: true
            },
            methods: {
                redirectToFeed: function() {
                    return location.href = "feed.html";
                },
                redirectToCreateDiary: function() {
                    return location.href = "create-diary.html";
                },
                handler: function(type, payload) {
                    switch(true) {
                        case type === "LOGOUT":
                            console.log("LOGOUT");
                            localStorage.removeItem('diaryLocalStorage');
                            location.href = "../index.html";
                            break;
                        case type === "DELETE":
                            axios.delete(this.baseUrl + `api/diary/remove/` + payload.id)
                                .then(res =>  this.fetchDiaries())
                                .catch(err => console.log(err))
                            break;
                        default :
                            return null;
                    }
                },
       
                fetchDiaries: function() {
                    if(this.local.userId) {
                        axios.get(this.baseUrl+`api/diary/findBySpecialId/${this.local?.userId}`)
                            .then(res => this.diaries = res.data.reverse())
                            .catch(err => console.error(err))
                    }
                },
                componentDidMount: async function(){
                    if(this.local.userId) {
                        await axios.get("https://quotes.rest/qod?language=en", {
                                headers: {
                                    "accept": "application/json",
                                    "X-TheySaidSo-Api-Secret": "kolya"
                                }
                            }) 
                            .then(res => this.quoteOfTheDay = res.data.contents.quotes[0].quote)
                            .catch(err => console.log(err));
                        
                        await axios.get(this.baseUrl+`api/profile/findBySpecialId/${this.local?.userId}`)
                            .then(res => {
                                this.user = res.data[0];
                                if(this.user.length == 0) return location.href = "editprofile.html";
                                document.title = this.user?.firstName + " " + this.user?.lastName;
                                let youtubeVideoUrl = this.user?.media.video;
                                let youtubeVideoId = youtubeVideoUrl?.slice(youtubeVideoUrl.indexOf("?v=") + 3);
                                document.getElementById('profileVideo').src = `https://www.youtube.com/embed/${youtubeVideoId}?loop=1&autoplay=1&mute=1`;
                            })
                            .catch(err => console.log(err));
                    }
                }
            },
            mounted: function() {
                if(localStorage.diaryLocalStorage) {
                    this.local = JSON.parse(localStorage.diaryLocalStorage);
                    this.componentDidMount();
                    this.fetchDiaries();
                    this.loading = false;

                } else  location.href = "../index.html";
            }
        })
    </script>
</body>
</html>