<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A vue.js cdn simple diary app, Sign in and start writing your diary">
        <meta name="keywords" content="Vuejs Framework, CSS, JavaScript, HTML5, UIkit, Bootstrap4">
        <meta name="author" content="Madridano, Kolya Nikolai M.">
        <title>Profile</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Nanum+Gothic&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

        <link rel="stylesheet" href="../src/css/app.css">
    </head>
    <style>
        /* to lower */
        @media only screen and (max-width: 600px) {
            .posts {
                display: flex;
                flex-direction: column;
            }
            .icon {
                font-size: 10px;
            }
            .content, .posted-by {
                font-size: 13px;
            }
            .details {
                font-size: 12px;
            }
            .video {
                height: 200px;
            }
            .quote {
                font-size: 20px;
            }
            .galleryHeaderSection {
                display: flex;
                flex-direction: column;
            }
            .galleryHeaderSectionInput {
                display: flex;
                
            }
        }
        /* to upper */
        @media only screen and (min-width: 600px) {
            .galleryHeaderSection{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
            .posted-by {
                font-size: 12px;
            }
            .video {
                height: 345px;
            }
            .posts {
                display: flex;
                justify-content: space-between;
            }
            .icon {
                font-size: 13px;
            }
        }
    </style>
<body>
    <div id="app"> 
        <div class="container">
            <div class="row justify-content-center mt-5">
                <div class="col-md-7">
                    <section>
                        <section v-if="userIsLoaded" class="d-flex justify-content-end align-items-center">
                           <div>    
                                <i v-if="playing" class="fas fa-pause mr-3 uk-text-danger pointer" style="font-size: 20px;" @click="handleMusic('pause')"></i>
                                <i v-if="!playing" class="fas fa-play mr-3 uk-text-primary pointer" style="font-size: 20px;" @click="handleMusic('playMusic')"></i>
                           </div>
                           <span  uk-icon="icon: arrow-right; ratio:2" class="pointer"  uk-toggle="target: #offcanvas-push"></span>
                        </section>
                        <section v-if="!userIsLoaded">
                            <div class="spinner">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </section>
                        <section class="d-flex justify-content-between align-items-center">
                            <section v-if="userIsLoaded">
                                <h2 class="font-weight-light p-0 m-0 text-dark">{{user?.lastName}}, {{user?.firstName}}</h2>
                                <div class="text-secondary mt-2 details uk-text-break w-75">{{user?.shortDescription}}</div>
                                <div class="mt-2">
                                    <div class="details">
                                        <i class="fas fa-location-arrow mr-1  text-secondary"></i>
                                        <span class="text-secondary">{{user?.address?.country}}, {{user?.address?.city}}</span>
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-graduation-cap mr-1  text-secondary"></i>
                                        <span class="text-secondary">{{user?.course}}</span>
                                    </div>
                                    <div class="details">
                                        <i class="fas fa-birthday-cake mr-1  text-secondary"></i>
                                        <span class="text-secondary">{{user?.birthDate}}</span>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <section v-if="playing">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="250px" height="250px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                        <path transform="translate(30,130)" fill="#1e87f0" d="M6.999-2.173c-0.21-1.843-1.216-3.542-2.21-5.061C4.291-7.995,3.814-8.771,3.242-9.477 c-0.389-0.479-0.799-0.955-0.985-1.554c-0.13-0.42,0.033-1.539-0.704-1.467c-0.359,0.035-0.418,0.337-0.471,0.621 c-0.072,0.38,0,0.842,0,1.227c0,4.1,0,8.199,0,12.299c0,1.247,0,2.495,0,3.742c-2.884-1.873-8.377,1.23-8.197,4.705 c0.091,1.754,1.807,2.481,3.362,2.395c1.974-0.108,3.983-1.249,5.113-2.868c1-1.434,0.769-3.163,0.769-4.822 c0-2.398,0-4.797,0-7.195c0-1.72,0-3.439,0-5.159c1.769,2.454,4.472,4.668,4.002,8.037C6.038,1.149,5.681,1.832,5.665,2.494 C5.639,3.53,6.145,2.799,6.343,2.349C6.99,0.875,7.253-0.575,6.999-2.173z">
                                          <animateTransform attributeName="transform" type="translate" keyTimes="0;0;0.2;0.4;1" values="30 130;30 130;30 50;30 130;30 130;" keySplines="0 0 1 1;0 0.5 0.5 1;0.5 0 1 0.5;0 0 1 1" calcMode="spline" dur="1.7857142857142856s" repeatCount="indefinite" begin="-0.8928571428571428s"></animateTransform>
                                        </path>
                                        <path transform="translate(70,20)" fill="#f47e60" d="M6.999-2.173c-0.21-1.843-1.216-3.542-2.21-5.061C4.291-7.995,3.814-8.771,3.242-9.477 c-0.389-0.479-0.799-0.955-0.985-1.554c-0.13-0.42,0.033-1.539-0.704-1.467c-0.359,0.035-0.418,0.337-0.471,0.621 c-0.072,0.38,0,0.842,0,1.227c0,4.1,0,8.199,0,12.299c0,1.247,0,2.495,0,3.742c-2.884-1.873-8.377,1.23-8.197,4.705 c0.091,1.754,1.807,2.481,3.362,2.395c1.974-0.108,3.983-1.249,5.113-2.868c1-1.434,0.769-3.163,0.769-4.822 c0-2.398,0-4.797,0-7.195c0-1.72,0-3.439,0-5.159c1.769,2.454,4.472,4.668,4.002,8.037C6.038,1.149,5.681,1.832,5.665,2.494 C5.639,3.53,6.145,2.799,6.343,2.349C6.99,0.875,7.253-0.575,6.999-2.173z">
                                          <animateTransform attributeName="transform" type="translate" keyTimes="0;0.1;0.4;0.7;1" values="70 130;70 130;70 20;70 130;70 130;" keySplines="0 0 1 1;0 0.5 0.5 1;0.5 0 1 0.5;0 0 1 1" calcMode="spline" dur="1.7857142857142856s" repeatCount="indefinite" begin="-0.8928571428571428s"></animateTransform>
                                        </path>
                                        <path transform="translate(40,60)" fill="#f8b26a" d="M10.988-11.314c-0.201-0.914-2.865,0.152-3.31,0.255c-2.865,0.661-5.73,1.322-8.594,1.983 C-1.873-8.855-2.84-8.658-3.791-8.413c-0.481,0.124-0.664,0.217-0.719,0.77c-0.18,1.819,0,3.786,0,5.621c0,2.663,0,5.325,0,7.988 c-2.146-1.278-5.411,0.577-6.269,2.683c-1.074,2.636,1.925,3.462,3.907,2.736c1.954-0.715,3.253-2.269,3.343-4.333 c0.046-1.037,0-2.087,0-3.125c0-1.638,0-3.276,0-4.914c0-0.673,0-1.346,0-2.019c0-0.215-0.116-0.848,0-1.036 c0.17-0.277,1.196-0.348,1.535-0.427c1.425-0.329,2.849-0.657,4.274-0.986c2.579-0.595,5.158-1.19,7.737-1.786 c0,3.284,0,6.569,0,9.853c-1.64-0.977-3.949-0.013-5.2,1.179c-0.958,0.913-1.87,2.579-0.84,3.778 c1.198,1.393,3.567,0.71,4.866-0.135C10.164,6.578,10.936,5.347,11,3.788c0.148-3.605,0-7.245,0-10.853c0-0.415,0-0.829,0-1.244 C11-9.247,11.189-10.396,10.988-11.314z">
                                          <animateTransform attributeName="transform" type="translate" keyTimes="0;0.3;0.6;0.9;1" values="40 130;40 130;40 60;40 130;40 130;" keySplines="0 0 1 1;0 0.5 0.5 1;0.5 0 1 0.5;0 0 1 1" calcMode="spline" dur="1.7857142857142856s" repeatCount="indefinite" begin="-0.8928571428571428s"></animateTransform>
                                        </path>
                                        <path transform="translate(60,130)" fill="#e15b64" d="M6.999-2.173c-0.21-1.843-1.216-3.542-2.21-5.061C4.291-7.995,3.814-8.771,3.242-9.477 c-0.389-0.479-0.799-0.955-0.985-1.554c-0.13-0.42,0.033-1.539-0.704-1.467c-0.359,0.035-0.418,0.337-0.471,0.621 c-0.072,0.38,0,0.842,0,1.227c0,4.1,0,8.199,0,12.299c0,1.247,0,2.495,0,3.742c-2.884-1.873-8.377,1.23-8.197,4.705 c0.091,1.754,1.807,2.481,3.362,2.395c1.974-0.108,3.983-1.249,5.113-2.868c1-1.434,0.769-3.163,0.769-4.822 c0-2.398,0-4.797,0-7.195c0-1.72,0-3.439,0-5.159c1.769,2.454,4.472,4.668,4.002,8.037C6.038,1.149,5.681,1.832,5.665,2.494 C5.639,3.53,6.145,2.799,6.343,2.349C6.99,0.875,7.253-0.575,6.999-2.173z">
                                          <animateTransform attributeName="transform" type="translate" keyTimes="0;0.5;0.75;1;1" values="60 130;60 130;60 70;60 130;60 130;" keySplines="0 0 1 1;0 0.5 0.5 1;0.5 0 1 0.5;0 0 1 1" calcMode="spline" dur="1.7857142857142856s" repeatCount="indefinite" begin="-0.8928571428571428s"></animateTransform>
                                        </path>
                                        <path transform="translate(50,130)" fill="#abbd81" d="M10.988-11.314c-0.201-0.914-2.865,0.152-3.31,0.255c-2.865,0.661-5.73,1.322-8.594,1.983 C-1.873-8.855-2.84-8.658-3.791-8.413c-0.481,0.124-0.664,0.217-0.719,0.77c-0.18,1.819,0,3.786,0,5.621c0,2.663,0,5.325,0,7.988 c-2.146-1.278-5.411,0.577-6.269,2.683c-1.074,2.636,1.925,3.462,3.907,2.736c1.954-0.715,3.253-2.269,3.343-4.333 c0.046-1.037,0-2.087,0-3.125c0-1.638,0-3.276,0-4.914c0-0.673,0-1.346,0-2.019c0-0.215-0.116-0.848,0-1.036 c0.17-0.277,1.196-0.348,1.535-0.427c1.425-0.329,2.849-0.657,4.274-0.986c2.579-0.595,5.158-1.19,7.737-1.786 c0,3.284,0,6.569,0,9.853c-1.64-0.977-3.949-0.013-5.2,1.179c-0.958,0.913-1.87,2.579-0.84,3.778 c1.198,1.393,3.567,0.71,4.866-0.135C10.164,6.578,10.936,5.347,11,3.788c0.148-3.605,0-7.245,0-10.853c0-0.415,0-0.829,0-1.244 C11-9.247,11.189-10.396,10.988-11.314z">
                                          <animateTransform attributeName="transform" type="translate" keyTimes="0;0;0.4;0.8;1" values="50 130;50 130;50 20;50 130;50 130;" keySplines="0 0 1 1;0 0.5 0.5 1;0.5 0 1 0.5;0 0 1 1" calcMode="spline" dur="1.7857142857142856s" repeatCount="indefinite" begin="0s"></animateTransform>
                                        </path>
                                    </svg>
                                </section>
                            </section>
                        </section>
                    </section>
                    <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true;flip: true" >
                        <div class="uk-offcanvas-bar uk-color-primary">
                            <button class="uk-offcanvas-close" type="button" uk-close></button>
                            <div style="margin-top: 150px;"></div>
                            <h5 class="text-white font-weight-light pointer" @click="redirectToCreateDiary">
                                <div class="d-flex justify-content-start">
                                    <span>Write new diary&nbsp;</span>
                                    <span uk-icon="icon:file-edit; ratio: 0.9" class="mt-1"></span>
                                </div>
                            </h5>
                            <h5 class="text-white font-weight-light pointer" @click="redirectToFeed">
                                <div class="d-flex justify-content-start">
                                    <span>Feed&nbsp;</span>
                                    <span uk-icon="icon:rss; ratio: 0.9" class="mt-1"></span>
                                </div>
                            </h5>
                            <h3 class="font-weight-light mt-5 mb-2 blockquote quote">"{{quoteOfTheDay}}"</h3>
                            <h5 class="text-white font-weight-light pointer  mt-5" @click="redirectToUpdateProfile">
                                <div class="d-flex justify-content-start">
                                    <span>Account settings&nbsp;</span>
                                    <span uk-icon="icon:cog; ratio: 0.9" class="mt-1"></span>
                                </div>
                            </h5>
                            <h5 class="text-white font-weight-light">
                                <div class="d-flex justify-content-start pointer" @click="handler('LOGOUT', null)">
                                    <span>Sign-out&nbsp;</span>
                                    <span uk-icon="icon: sign-out; ratio: 0.9" class="mt-1"></span>
                                </div>
                            </h5>
                        </div>
                    </div>
                    <iframe v-if="youTubeVideoIsLoaded" class="video" style="margin-top: 50px" id="profileVideo"  width="100%"  src=""  frameborder="0" scrolling="no" uk-responsive uk-video="automute: true"></iframe>
                
                    <section class="mt-5 d-flex justify-content-end">
                        <button class="uk-button uk-button-primary" @click="redirectToCreateDiary">Write new diary</button>
                        <button class="uk-button uk-button-default" @click="redirectToFeed">Feed</button>
                    </section>
                    <section class="galleryHeaderSection mt-5">
                        <h1 class="font-weight-light text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <span uk-icon="icon: album; ratio: 2"></span>
                                <span class="ml-2">Gallery</span>
                            </div>
                        </h1>
                        <div class="uk-margin p-4" uk-margin>
                            <form 
                                v-bind:class="{ 'd-none': isUploading}" 
                                @submit.prevent="uploadToCloud" 
                                enctype="multipart/form-data">
                               <div class="galleryHeaderSectionInput">
                                    <div uk-form-custom="target: true">
                                        <input type="file" name="files[]" accept="image/*" @change="handleImgPath">
                                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Upload Image to gallery" disabled>
                                    </div>
                                    <button type="submit" class="uk-button uk-button-default" :disabled="uploadIsDisabled">UPLOAD</button>
                                </div>
                            </form>
                            <section v-if="isUploading">
                                <div class="d-flex align-items-center text-secondary">
                                    <span class="mr-1">Uploading</span> 
                                    <i class="fas fa-spinner fa-spin" ></i>
                                </div>
                            </section>
                        </div>
                    </section>
                    <div class="justify-content-center">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                            <div v-for="(data, index) in gallery" >
                                <div class="col">
                                    <div class="card">
                                        <span 
                                            @click="handleDeleteImg(data.id)"
                                            uk-icon="icon: trash; ratio: 1" 
                                            class="position-absolute m-3 text-danger pointer" 
                                            style="bottom: 0; right: 0;"></span>
                                        <img v-bind:src="data.photoUrl" class=" gallery-img"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="diaries.length > 0">
                        <div v-for="(data, index) in diaries" class="mt-2 p-5">
                            <div class="posts">
                                <h6 class="p-0 m-0">
                                    <div class="d-flex align-items-center">
                                        <span uk-icon="icon: hashtag"></span> 
                                        <span><b>{{data.category}}</b></span>
                                    </div>
                                </h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="text-secondary mr-2" style="font-size: 13px;"> 
                                        <div class="d-flex align-items-center">
                                            <i class="fas fa-calendar-alt icon" ></i>
                                            <span>&nbsp;{{data.datePosted}}</span>
                                        </div>
                                    </span>
                                    <span uk-icon="icon: trash; ratio: 0.9" class="text-danger pointer" @click="handler('DELETE', { id: data.id})"></span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center  posted-by ml-3">
                                <div class="text-secondary  ml-1">You diary</div>
                            </div>

                            <p class="text-secondary pl-2 pr-2 pt-3 content ">{{data.content}}</p>
                        </div>
                    </div>
                    <div v-else>
                        <h4 class="text-center mt-5 blockquote"><em>Oops! It sounds like you don't have any posts, <br>Do you wish to 
                            <b @click="redirectToCreateDiary" class="pointer">write</b> your first diary?</em>
                        </h4>
                    </div>
                    <div style="margin-top: 100px"></div>
                    <p class="text-center">&copy; KOLYA MADRIDANO</p>
                    <div id="snackbar">
                        <p class="p-3 m-0 font-weight-light">Deleted successfully!</p>
                    </div>
                </div>
            </div>
            <audio id="audio" controls style="display: none;">
                <source src="https://res.cloudinary.com/yourmysomi/video/upload/v1609326373/Music/Gryffin_-_Just_For_A_Moment_ft._Iselin_mvtoxs.mp3" type="audio/ogg">
                <source src="https://res.cloudinary.com/yourmysomi/video/upload/v1609326373/Music/Gryffin_-_Just_For_A_Moment_ft._Iselin_mvtoxs.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            local: null,
            data: {
                baseUrl: 'https://www.diaryapi.somee.com/',
                cloudinaryUrl:"https://api.cloudinary.com/v1_1/yourmysomi/image/upload",
                user: {},
                diaries: [],
                quoteOfTheDay: null,
                uploadedBuffer: {},
                gallery: [],
                uploadIsDisabled: false,
                toggleUploadBtn: false,
                isUploading: false,
                playMusic: true,
                playing: false,
                youTubeVideoIsLoaded: true,
                userIsLoaded: false
            },
            methods: {
                handleImgPath: function(){
                    this.toggleUploadBtn = true;
                },
                redirectToFeed: function() {
                    return location.href = "feed.html";
                },
                redirectToCreateDiary: function() {
                    return location.href = "create-diary.html";
                },
                redirectToUpdateProfile: function() {
                    return location.href="../src/update-profile.html";
                },
                uploadToCloud: async function() {
                    this.uploadIsDisabled = true;
                    this.isUploading = true;
                    const form = document.querySelector("form");
                    const files = document.querySelector("[type=file]").files;
                    const formData = new FormData();
                    for (let i = 0; i < files.length; i++) {
                        let file = files[i];
                        formData.append("file", file);
                        formData.append("upload_preset", "snoecp7q");
                        axios.post(this.cloudinaryUrl, formData)
                            .then(res => {
                                this.uploadedBuffer = res.data;
                                console.log(res.data);
                                if(this.uploadedBuffer) {
                                    let payload = {
                                        specialId: this.local.userId,
                                        postedBy: this.user.firstName,
                                        photoUrl: this.uploadedBuffer.secure_url,
                                        datePosted: moment(Date.now()).format('LLL')
                                    }
                                    axios.post(this.baseUrl + 'api/gallery/upload',payload)
                                        .then(res => {
                                            this.handleFetchGallery();
                                            this.isUploading = false;
                                            this.uploadIsDisabled = false;
                                        })
                                        .catch(err => {
                                            this.uploadIsDisabled = false;
                                            console.log(err)
                                        })
                                    }
                            })
                            .catch(err => console.log(err))
                    }
                },
                handleMusic: function(event) {
                    let audio = document.getElementById("audio");
                    if(audio) {
                        if(event == "playMusic"){
                            audio.play();
                            audio.volume = 0.2;
                            this.playing = true;
                        }
                        if(event == "pause"){
                            if(audio.played) {
                                audio.pause();
                                audio.volume = 0.2;
                                this.playing = false;
                            }
                        }
                    }
                },
                handleFetchGallery: function() {
                    if(this.local.userId) {
                        axios.get(this.baseUrl + `api/gallery/findBySpecialId/${this.local.userId}`)
                            .then(res => {
                                this.gallery = res.data.reverse();
                            })
                            .catch(err => console.log(err))
                    }
                },
                handleFileChange: function(event) {
                    this.file = event.target.files[0];
                    //file counter
                    this.fileSelected = event.target.files.length;
                },
                handleDeleteImg: function(Id) {
                    axios.delete(this.baseUrl + `api/gallery/remove/${Id}`)
                        .then(res => this.handleFetchGallery())
                        .catch(err => console.log(err));
                },
                handler: function(type, payload) {
                    switch(true) {
                        case type === "LOGOUT":
                            console.log("LOGOUT");
                            localStorage.removeItem('diaryLocalStorage');
                            location.href = "../index.html";
                            break;
                        case type === "DELETE":
                            axios.delete(this.baseUrl + `api/diary/remove/` + payload.id)
                                .then(res => {
                                    this.fetchDiaries()
                                    let snackbar = document.getElementById("snackbar");
                                        snackbar.className = "show";
                                        setTimeout(() => { 
                                            snackbar.className = snackbar.className.replace("show", ""); 
                                        }, 3000);
                                })
                                .catch(err => console.log(err))
                            break;
                        default :
                            return null;
                    }
                },
                fetchDiaries: function() {
                    if(this.local.userId) {
                        axios.get(this.baseUrl+`api/diary/findBySpecialId/${this.local?.userId}`)
                            .then(res => this.diaries = res.data.reverse())
                            .catch(err => console.error(err))
                    }
                },
                componentDidMount: async function(){
                    if(this.local.userId) {
                        await axios.get(this.baseUrl+`api/profile/findBySpecialId/${this.local?.userId}`)
                            .then(res => {
                                this.user = res.data[0];
                                this.fetchDiaries();
                                this.handleFetchGallery();
                                document.title = this.user?.firstName + " " + this.user?.lastName;
                                    let youtubeVideoUrl = this.user?.media.video;
                                    let youtubeVideoId = youtubeVideoUrl?.slice(youtubeVideoUrl.indexOf("?v=") + 3);
                                    let targetIframe = document.getElementById('profileVideo');
                                        targetIframe.src = `https://www.youtube.com/embed/${youtubeVideoId}?loop=1`;
                                        
                                this.userIsLoaded = true;
                                axios.get("https://quotes.rest/qod?language=en", { headers: { "accept": "application/json", "X-TheySaidSo-Api-Secret": "kolya"  } })
                                    .then(res => this.quoteOfTheDay = res.data.contents.quotes[0].quote)
                                    .catch(err => console.log(err));
                            }).catch(err => console.log(err));
                    }
                }
    
            },
            mounted: function() {
                if(localStorage.diaryLocalStorage) {
                    this.local = JSON.parse(localStorage.diaryLocalStorage);
                    this.componentDidMount();
                } else  location.href = "../index.html";
            }
        })
    </script>
</body>
</html>